.dashHead{
    width: 100%;
}
.dashHead__col{
    padding-top: 15px;
    padding-bottom: 15px;
}
.dashHead__logo{
    height: 40px;
}
.dashbody__welcome{
    display: flex;
    align-items: center;
}
.dashBody__welcome--speech{
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}
.dashBody__welcome--text{
	font-family: raleway;
	font-size: 4.3vw;
	border-left: solid 2px $red;
	padding-left: 10px;
	position: absolute;
	left: 13%;
    top: 3.4%;
}
.dashBody__welcome--space{
    letter-spacing: 3px;
}
.dashBody__temp{
    margin-top: 20px;
}
.tempTab{
    display: none;
}
.dashBody__secure{
	display: flex;
	align-items: center;
	border-top: solid 3px $teal;
    border-bottom: solid 3px $teal;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dashBody__secureText{
    padding-left: 0px;
    padding-right: 0px;
}
.dashBody__secureText p{
    font-family: open sans;
    font-size: 16px;
    font-weight: 600;
	color: $white;
    letter-spacing: 2px;
    margin-bottom: 0px;
}
.dashBody__secureTick{
    display: flex;
    justify-content: flex-end;
    padding-left: 0px;
    padding-right: 0px;
}
.dashBody__secureTick img{
    height: 31px;
}
.dashBody__home{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.dashBody__home p{
    font-size: 20px;
	font-family: open sans;
	font-weight: 600;
    color: $white;
    margin-bottom: 0px;
    margin-right: 15px;
}
.dashBody__home img{
    height: 23px;
    margin-bottom: 9px;
}
.dashBody__security{
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    border: solid 4px $red;
	border-radius: 30px;
}
.dashBody__security img{
    height: 32px;
    margin-left: 15px;
}
.dashBody__security p{
    font-size: 20px;
	font-family: raleway;
	font-weight: 600;
	color: $white;
	letter-spacing: 2px;
    margin-left: 15px;;
    margin-bottom: 0px;
}
.dashBody__entertainment{
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 30px;
    border: solid 4px $teal;
	border-radius: 30px;
}
.dashBody__entertainment img{
    height: 32px;
    margin-left: 15px;
}
.dashBody__entertainment p{
    font-size: 20px;
	font-family: raleway;
	font-weight: 600;
	color: $white;
	letter-spacing: 2px;
    margin-left: 15px;;
    margin-bottom: 0px;
}
.dashBody__electricity{
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 4px $yellow;
	border-radius: 30px;
}
.dashBody__electricity img{
    height: 32px;
    margin-left: 15px;
}
.dashBody__electricity p{
    font-size: 20px;
	font-family: raleway;
	font-weight: 600;
	color: $white;
	letter-spacing: 2px;
    margin-left: 15px;;
    margin-bottom: 0px;
}

