.electricityNav{
    padding-top: 15px;
    padding-bottom: 5px;
}
.electricityNav__arrow img{
    height: 32px;
}
.electricityNav__logo{
    display: flex;
    justify-content: flex-end;
}
.electricityNav__logo img{
    height: 32px;
}
.electricityHeading{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.electricityHeading img{
    height: 32px;
}
.electricityHeading p{
    font-size: 30px;
	font-family: raleway;
	font-weight: 600;
	color: $white;
	letter-spacing: 2px;
    margin-left: 15px;
    margin-bottom: 0px;
}

// electricity power usage
.electricityPower{
    border: solid 4px $yellow;
    border-radius: 30px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 25px;
}
.electricityPower__heading{
    display: flex;
    align-items: center;
}
.electricityPower__heading--text{
    padding: 0;
}
.electricityPower__heading--text p{
    font-family: open sans;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 0px;
}
.electricityPower__heading--icons{
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.electricityIcons{
    height: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.electricityPower__bathroom{
    display: flex;
    align-items: center;
}
.electricityPower__bathroom--text{
    padding: 0;
}
.electricityPower__bathroom--text p{
    font-family: raleway;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 5px;
    margin-top: 10px;
}
.electricityPower__bathroom--bar{
    height: 16px;
	background-color: $red;
	width: 75%;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
}
.electricityPower__bathroom--smallText{
    font-family: open sans;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 0px;
}
.electricityPower__kitchen{
    display: flex;
    align-items: center;
}
.electricityPower__kitchen--text{
    padding: 0;
}
.electricityPower__kitchen--text p{
    font-family: raleway;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 5px;
    margin-top: 10px;
}
.electricityPower__kitchen--bar{
    height: 16px;
	background-color: $yellow;
	width: 55%;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
}
.electricityPower__kitchen--smallText{
    font-family: open sans;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 0px;
}
.electricityPower__livingRoom{
    display: flex;
    align-items: center;
}
.electricityPower__livingRoom--text{
    padding: 0;
}
.electricityPower__livingRoom--text p{
    font-family: raleway;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 5px;
    margin-top: 10px;
}
.electricityPower__livingRoom--bar{
    height: 16px;
	background-color: $blue;
	width: 30%;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
}
.electricityPower__livingRoom--smallText{
    font-family: open sans;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 0px;
}
.electricityPower__bedroom{
    display: flex;
    align-items: center;
}
.electricityPower__bedroom--text{
    padding: 0;
}
.electricityPower__bedroom--text p{
    font-family: raleway;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 5px;
    margin-top: 10px;
}
.electricityPower__bedroom--bar{
    height: 16px;
	background-color: $teal;
	width: 15%;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
}
.electricityPower__bedroom--smallText{
    font-family: open sans;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 0px;
}

// climate control
.electricityClimate{
    border: solid 4px $yellow;
    border-radius: 30px;
    padding: 15px 15px 12px 15px;
    margin-bottom: 25px;
}
.electricityClimate__heading p{
    font-family: open sans;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 5px;
}
.electricityClimate__livingRoom{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
.electricityClimate__livingRoom--text{
    padding: 0;
}
.electricityClimate__livingRoom--text p{
    font-family: raleway;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 5px;
}
.electricityClimate__livingRoom--icons{
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.electricityIcons{
    height: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.electricityClimate__livingRoomMode{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.electricityClimate__livingRoomMode--text{
    padding: 0;
}
.electricityClimate__livingRoomMode--text p{
    font-family: open sans;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 5px;
}
.electricityClimate__livingRoomMode--icons{
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.btn{
    padding: 3px 12px;
	background-color: $darkPurp;
	border: solid 2px $dark;
	border-radius: 10px;
	font-family: open sans;
	font-weight: bold;
	font-size: 9px;
    color: $white;
    margin-left: 5px;
}
.btnCool{
    border: solid 2px $blue;
}
.btnAuto{
    border: solid 2px $purple;
}
.electricityClimate__bedroom{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
}
.electricityClimate__bedroom--text{
    padding: 0;
}
.electricityClimate__bedroom--text p{
    font-family: raleway;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 10px;
}
.electricityClimate__bedroom--icons{
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.electricityClimate__bedroomMode{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.electricityClimate__bedroomMode--text{
    padding: 0;
}
.electricityClimate__bedroomMode--text p{
    font-family: open sans;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 5px;
}
.electricityClimate__bedroomMode--icons{
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.btnHeat{
    border: solid 2px $yellow;
}
.btnOff{
    border: solid 2px $red;
}

// smart oven
.electricityOven{
    border: solid 4px $yellow;
    border-radius: 30px;
    padding: 15px 15px 10px 15px;
    margin-bottom: 25px;
}
.electricityOven__smartOven{
    display: flex;
    align-items: center;
}
.electricityOven__smartOven--text{
    padding: 0;
}
.electricityOven__smartOven--text p{
    font-family: open sans;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 10px;
}
.electricityOven__smartOven--icons{
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.electricityOven__onOff{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.electricityOven__onOff--text{
    padding: 0;
}
.electricityOven__onOff--text p{
    font-family: raleway;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 5px;
}
.electricityOven__onOff--icons{
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.electricityOven__ovenMode{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.electricityOven__ovenMode--text{
    padding: 0;
}
.electricityOven__ovenMode--text p{
    font-family: open sans;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
    color: $white;
    margin-bottom: 5px;
}
.electricityOven__ovenMode--icons{
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
}
.btnOn{
    border: solid 2px $teal;
}
.btnGrill{
    border: solid 2px $red;
}

